.box{
    margin: auto;
    width: 40%;
    margin-top: 100px;
    border: 1px solid black;
}
input{
    clear: both;
    margin-top: 50px;
}
label{
    margin-right: 40px;
}
button{
    margin-top: 50px;
    margin-bottom: 50px;

}